:root {
    --primary-base: #0866ff;
    --primary-light: #EBEFFF;
    --primary-border: #C6D2FE;
    --primary-accent: #0B5EC9;
    --primary-dark: #01183B;
    --error-color: #dc3545;

    --frostDark-1: #111111;
    --frostDark-2: #191919;
    --frostDark-3: #222222;
    --frostDark-4: #2a2a2a;
    --frostDark-5: #313131;
    --frostDark-6: #3a3a3a;
    --frostDark-7: #484848;
    --frostDark-8: #606060;
    --frostDark-9: #6e6e6e;
    --frostDark-10: #7b7b7b;
    --frostDark-11: #b4b4b4;
    --frostDark-12: #eeeeee;

    --body: "Inter", serif;
    --heading: "Space Grotesk", serif;
    --mono: "Space Mono", serif;

    --font-size-heading1: 36px;
    --font-size-heading2: 32px;
    --font-size-heading3: 29px;
    --font-size-heading4: 26px;
    --font-size-heading5: 23px;
    --font-size-heading6: 20px;
    --font-size-subtitle: 18px;
    --font-size-body: 16px;
    --font-size-caption: 14px;
    --font-size-label: 13px;
    --font-size-tagline: 11px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body);
    font-optical-sizing: auto;
    font-feature-settings: 'liga' 1, 'calt' 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    transition: all .32s ease-in-out;
    line-height: 1.5;
    color: var(--frostDark-12);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    min-height: 100dvh;
    overflow-y: scroll;
    --tw-bg-opacity: 1;
    background-color: var(--frostDark-1);
    font-size: .875rem;
    line-height: 1.25rem;
    background-image: url('assets/pattern.svg');
    background-size: 220px 220px;
    background-position: center;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    width: 100%;
    z-index: 100;
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border-bottom: 2px solid var(--frostDark-2);
}

.logo img {
    width: 170px;
    aspect-ratio: 10 / 1;
    display: block;
}

.tabs {
    display: flex;
    gap: 24px;
}

header button {
    background: none;
    border: none;
    padding: 4px 0;
    cursor: pointer;
    pointer-events: auto;
    font-size: var(--font-size-caption);
    color: var(--frostDark-11);
    touch-action: manipulation;
}

header button:hover {
    color: var(--frostDark-12);
    transform: translateY(-2px);
}

header button:focus {
    color: var(--frostDark-12);
    transform: translateY(0);
}

.tab.active,
.tab.active:focus {
    font-weight: 600;
    color: var(--frostDark-12);
}

.tab.active:hover {
    color: var(--frostDark-9);
}

.content {
    width: 1280px;
    margin: 0 auto 32px;
    display: none;
}

.toggle-container {
    display: flex;
    gap: 4px;
    margin: 24px 0;
    border: 2px solid var(--frostDark-2);
    width: fit-content;
    padding: 4px;
    border-radius: 150px;
}

.toggle-btn {
    padding: 6px 16px;
    background-color: var(--frostDark-1);
    border: none;
    border-radius: 150px;
    color: var(--frostDark-11);
    cursor: pointer;
    font-size: var(--font-size-caption);
    transition: all 0.2s ease;
}

.toggle-btn.active {
    background-color: var(--primary-base);
    color: white;
    border-color: var(--primary-accent);
}

.toggle-btn:hover:not(.active) {
    background-color: var(--frostDark-4);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: var(--frostDark-12);
    padding: 96px 0;
    margin-top: 96px;
}

aside img {
    width: 32px;
    height: auto;
    margin-bottom: 16px;
}

aside>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 1280px;
}

aside h5 {
    font-size: var(--font-size-heading5);
    font-weight: 600;
    color: var(--frostDark-3);
    text-align: center;
}

aside p {
    font-size: var(--font-size-body);
    color: var(--frostDark-6);
    text-align: center;
    line-height: 1.7;
}

aside a {
    display: flex;
    color: var(--frostDark-2);
    padding-bottom: 2px;
    border-bottom: 2px solid var(--primary-base);
    font-size: var(--font-size-caption);
    font-family: var(--body);
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
}

aside a:hover {
    color: var(--frostDark-2);
    border-bottom: 2px solid var(--primary-accent);
    transform: translateY(-2px);
}

aside .links {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 24px 0 24px;
}

aside small {
    font-size: var(--font-size-label);
    color: var(--frostDark-8);
    margin: 40px 0 0;
    text-align: center;
}

.posts-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.post {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post:hover {
    transform: translateY(-4px);
}

.post-external {
    display: flex;
    gap: 10px;
    width: 100%;
}

.post-external-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    color: inherit;
    text-decoration: none;
}

.post-external img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 8px;
}

.post-external-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.post-external-title {
    font-family: var(--heading);
    font-size: var(--font-size-heading6);
    font-weight: 500;
    line-height: 1.25;
    color: var(--frostDark-12);
}

.post-external-description {
    font-size: var(--font-size-body);
    color: var(--frostDark-10);
}

.post-author-info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.post-author-handle,
.slide-author-handle,
.techmeme-post-author-handle {
    font-size: var(--font-size-caption);
    color: var(--frostDark-11);
}

.post-author-timestamp {
    font-size: var(--font-size-caption);
    color: var(--frostDark-9);
}

.post-author-link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: inherit;
    text-decoration: none;
}

.post-author-link img,
.slide-author-avatar,
.techmeme-post-author img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 12px;
}

.post-stats {
    display: flex;
    gap: 16px;
    align-items: center;
}

.post-stats button {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: var(--font-size-caption);
}

.post-copy {
    cursor: pointer;
}

.post-count {
    font-size: var(--font-size-label);
    color: var(--frostDark-11);
}

.post-stats i {
    margin-right: 5px;
    color: var(--frostDark-11);
    font-size: 14px;
}

.post-interactions {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 12px;
    padding-top: 8px;
    border-top: 1px solid var(--frostDark-2);
    gap: 20px;
}

.post-interactions:not(:has(*))::before,
.slide-interactions:not(:has(*))::before,
.techmeme-post-interactions:not(:has(*))::before {
    content: "No interactions yet.";
    display: block;
    text-align: left;
    color: var(--frostDark-8);
    font-size: var(--font-size-caption);
    font-style: italic;
}

.no-interactions::before {
    content: "No interactions yet." !important;
    display: block;
    text-align: left;
    color: var(--frostDark-8);
    font-size: var(--font-size-caption);
    font-style: italic;
}

.post-replies,
.post-quotes {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.post-replies:hover,
.post-quotes:hover,
.slide-replies:hover,
.slide-quotes:hover,
.techmeme-post-replies:hover,
.techmeme-post-quotes:hover {
    transform: translateX(2px);
}

.post-replies span,
.post-quotes span {
    font-size: var(--font-size-label);
    color: var(--frostDark-9);
}

.post-replies i,
.post-quotes i {
    margin-right: 5px;
    color: var(--frostDark-9);
}

.load-more {
    padding: 8px 20px;
    background-color: var(--frostDark-2);
    border: 1px solid var(--frostDark-3);
    box-shadow: inset 1px 3px 4px 1px var(--frostDark-2);
    width: fit-content;
    color: var(--frostDark-11);
    display: none;
    font-size: var(--font-size-body);
    cursor: pointer;
    border-radius: 50px;
    margin-top: 24px;
}

.load-more:hover {
    transform: translateX(2px);
    color: var(--frostDark-12);
    border: 1px solid var(--frostDark-4);
    box-shadow: inset 1px 3px 4px 1px var(--frostDark-3);
}

#load-more-list,
#load-more-feed {
    position: relative;
    left: calc(50% - 64px);
    display: block;
    margin: 32px 0;
}

.loader {
    display: none;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.loader-text {
    font-size: var(--font-size-body);
    color: var(--frostDark-11);
}

.loader-icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
}

.loader-icon i {
    font-size: 24px;
    color: var(--frostDark-11);
    line-height: 24px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 12px;
    transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb {
    background-color: var(--frostDark-4);
    border-radius: 10px;
    transition: background-color 0.2s ease;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--frostDark-7);
}

::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#techmeme-section {
    width: 100%;
}

.techmeme-post-timestamp {
    font-size: var(--font-size-caption);
    color: var(--frostDark-9);
}

.techmeme-post-author a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.techmeme-post-stats button {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: var(--font-size-caption);
}

.techmeme-post-stats .techmeme-post-copy {
    cursor: pointer !important;
}

.techmeme-post-interactions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.techmeme-post-replies,
.techmeme-post-quotes {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.techmeme-post-replies span,
.techmeme-post-quotes span {
    font-size: var(--font-size-label);
    color: var(--frostDark-9);
}

#recent-news-section,
#techmeme-section,
#tech-companies-section {
    width: 100%;
    margin-top: 64px;
}

.techmeme-post-text {
    font-size: var(--font-size-body);
    color: var(--frostDark-11);
    line-height: 1.7;
    margin-bottom: 12px;
}

.techmeme-post-text a {
    color: var(--frostDark-10);
    word-wrap: break-word;
    white-space: normal;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    text-decoration-color: var(--frostDark-3);
    transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
}

.techmeme-post-text a:hover {
    color: var(--frostDark-12);
    text-decoration-style: dotted;
    text-underline-offset: 8px;
    text-decoration-color: var(--frostDark-6);
}

.techmeme-post-author {
    display: flex;
    align-items: center;
    gap: 8px;
}

.techmeme-post-stats {
    display: flex;
    gap: 16px;
    align-items: center;
}

.techmeme-post-stats i {
    margin-right: 5px;
    color: var(--frostDark-11);
    font-size: 16px;
}

.techmeme-post-replies i,
.techmeme-post-quotes i {
    margin-right: 5px;
    color: var(--frostDark-9);
    font-size: var(--font-size-label);
}

.recent-news-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

#recent-news-posts {
    display: flex;
    gap: 32px;
    transition: transform 0.3s ease;
    width: calc(100% + 32px);
}

#recent-news-posts .post {
    flex: 1 0 calc(25% - 24px);
    box-sizing: border-box;
}

#recent-news-posts .post:nth-child(3n) {
    margin-right: 0;
}

.nav-btn {
    z-index: 99;
    padding: 4px !important;
    cursor: pointer;
}

.section-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section-title h2 {
    font-size: var(--font-size-heading2);
    font-weight: 400;
    font-family: var(--heading);
    color: var(--frostDark-11);
    width: fit-content;
    border-bottom: 4px solid var(--frostDark-2);
    margin-bottom: 8px;
}

.section-title p {
    font-size: var(--font-size-body);
    font-family: var(--mono);
    color: var(--frostDark-10);
    width: fit-content;
    margin-bottom: 24px;
}

.recent-news-container .posts-container {
    display: flex;
    gap: 32px;
    width: 100%;
    overflow: hidden;
}

.recent-news-container .post {
    min-width: calc(33.33% - 24px);
    max-width: calc(33.33% - 24px);
}

.recent-news-section .nav-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s ease;
}

.recent-news-container .nav-btn:hover {
    color: var(--frostDark-12);
}

.controller {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

#next-news,
#prev-news {
    background: none;
    border: 0;
    padding: 0;
}

#next-news i,
#prev-news i {
    font-size: var(--font-size-subtitle);
    color: var(--frostDark-11);
}

#next-news i:hover,
#prev-news i:hover {
    color: var(--frostDark-12);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: var(--frostDark-2);
    padding: 96px 0;
}

footer>section,
footer>div {
    width: 1280px;
}

footer>section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    padding-bottom: 64px;
}

footer>section>div {
    flex: 1;
}

footer section .other-projects {
    display: flex;
    flex-direction: row;
    gap: 56px;
    flex: .6;
}

footer h4 {
    font-size: var(--font-size-heading5);
    font-weight: 600;
    color: var(--frostDark-11);
}

footer .footer-subtitle {
    font-size: var(--font-size-subtitle);
    color: var(--frostDark-10);
    line-height: 1.5;
}

footer p {
    font-size: var(--font-size-caption);
    color: var(--frostDark-10);
    margin: 2px 0 10px;
    line-height: 1.8;
}

footer small a {
    color: var(--frostDark-10);
    padding-bottom: 2px;
    border-bottom: 2px solid var(--frostDark-3);
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
}

footer small a:hover {
    color: var(--frostDark-11);
    border-bottom: 2px solid var(--primary-border);
    transform: translateY(-2px);
}

footer a {
    color: var(--frostDark-10);
    padding-bottom: 2px;
    border-bottom: 2px solid var(--frostDark-3);
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
}

footer a:hover {
    color: var(--frostDark-11);
    border-bottom: 2px solid var(--primary-border);
    transform: translateY(-2px);
}

footer .links {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin: 4px 0 24px;
}

footer>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer small {
    font-size: var(--font-size-label);
    color: var(--frostDark-9);
    margin: 8px 0 0;
    line-height: 1.7;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer strong {
    color: var(--frostDark-11);
    font-weight: 500;
}

@media (hover: none) {
    header button:active {
        color: var(--frostDark-12);
        border-bottom: 2px solid var(--frostDark-5);
        transform: translateY(0);
    }
}


@media (max-width: 1280px) {
    .content {
        width: 1024px;
    }

    aside>div {
        width: 1024px;
    }

    footer>section,
    footer>div {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .content {
        width: 100%;
        margin: 0 auto;
        padding: 0 24px;
    }

    .hero-section {
        margin: 24px 0 48px;
    }

    .slideshow-container,
    .recent-news-container {
        touch-action: pan-x;
        touch-action: pan-y;
    }

    .slide,
    .recent-news-container .post {
        -webkit-touch-callout: none;
    }

    aside {
        width: 100vw;
    }

    footer {
        width: 100vw;
        padding: 64px 24px;
    }

    .posts-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-news-container .post {
        min-width: calc(50% - 18px);
        max-width: calc(50% - 18px);
    }

    aside>div {
        width: 100%;
        padding: 0 24px;
    }

    footer>section {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    footer>div {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    footer>section>div {
        flex: .5;
    }

    nav {
        flex: .5;
    }
}

@media (max-width: 768px) {
    .logo img {
        width: 150px;
    }

    .tabs {
        gap: 16px;
    }

    .hero-section {
        margin: 16px 0 48px;
    }

    .content {
        padding: 0 16px;
        margin: 0px auto;
    }

    .slide-content {
        flex-direction: column-reverse;
    }

    .slide-author-info {
        margin: 16px 0 12px;
    }

    .slide-image img {
        border-radius: 16px;
    }

    .slide-text {
        margin-right: 0;
        margin-bottom: 32px;
    }

    .slide-image:hover {
        transform: none;
    }

    .slide-indicators {
        margin: 24px 0;
    }

    .section-title h2 {
        font-size: var(--font-size-heading4);
    }

    aside>div {
        width: 100%;
    }

    footer>section,
    footer>div {
        width: calc(100% - 32px);
    }

    footer>section {
        flex-direction: column;
        gap: 32px;
        padding-bottom: 32px;
    }
}

@media (max-width: 480px) {
    header {
        justify-content: space-between;
        padding: 16px;
        position: sticky;
        top: 0;
    }

    .logo img {
        width: 150px;
    }

    header button {
        padding: 4px 0 2px;
    }

    .tabs {
        width: 100%;
        gap: 16px;
        justify-content: flex-end;
    }

    .toggle-container {
        width: 100%;
        justify-content: space-between;
        margin: 16px 0;
    }

    .toggle-btn {
        padding: 8px 16px;
        background-color: var(--frostDark-1);
        border: none;
        border-radius: 150px;
        color: var(--frostDark-11);
        cursor: pointer;
        font-size: var(--font-size-caption);
        transition: all 0.2s ease;
        width: 100%;
    }

    .hero-section {
        margin: 16px 0 48px;
    }

    .hero-section .post-external-title {
        font-size: var(--font-size-heading5);
    }

    .hero-section .post-external-description {
        font-size: var(--font-size-body);
    }

    .slide-indicators {
        margin: 8px 0;
    }

    .slide-actions {
        margin-bottom: 12px;
    }

    .post-external-title {
        font-size: var(--font-size-subtitle);
    }

    .post-external-description {
        font-size: var(--font-size-caption);
    }

    aside {
        padding: 40px 0;
        margin-top: 64px;
        width: 100%;
    }

    .recent-news-container .post {
        min-width: 100%;
        max-width: 100%;
    }

    .posts-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    footer {
        padding: 40px 0;
    }

    footer>section>div {
        flex: 1;
    }

    nav {
        flex: .5;
    }
}

/* Prevent hover effects from applying on touch devices */
@media (hover: hover) {
    .tab.active:hover {
        color: var(--frostDark-9);
    }
}

/* Reset hover styles when focus is active */
.tab.active:focus {
    color: var(--frostDark-12) !important;
}